@model Mage.Models.Order

@{
    ViewData["Title"] = "Order Details for " + Model.Cart.User.Email;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Game Name</th>
                <th>Link</th>
                <th>Quantity</th>
                <th>Price</th>doc
                <th>Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cartItem in Model.Cart.CartItems)
            {
                var subtotal = cartItem.Quantity * cartItem.Price;
                <tr>
                    <td>@cartItem.Game.Name</td>
                    <td><a href=@cartItem.Game.Link target="_blank">@cartItem.Game.Name</a></td>
                    <td>@cartItem.Quantity</td>
                    <td class="dollar">@cartItem.Price</td>
                    <td class="dollar" style="text-align: right">@subtotal</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Total:</th>
                <td class="dollar" colspan="3" style="text-align: right">@Model.Total</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>


<div>
    <a asp-action="Index">Back to Categories</a>
</div>
